<div *ngIf="!auth.user">
  <h1>Projeto Revise Login</h1>
  <form>
    <fieldset>
      <legend>Login</legend>
      <div>Digite seu Email</div>
      <input type="text" name="email" [(ngModel)]="email" />
      <div>Digite sua Senha</div>
      <input type="password" name="password" [(ngModel)]="password" />
      <hr />
      <button (click)="auth.emailSignin(this.email, this.password)">
        Entrar com o Email
      </button>
      ou
      <button (click)="auth.googleSignin()">Entrar com o Google</button>
    </fieldset>
  </form>
</div>

<div *ngIf="auth.error" style="color: red">
  {{ auth.error }}
</div>
<div *ngIf="auth.user">
  <div class="container-fluid m-2">
    <router-outlet></router-outlet>
  </div>
</div>
